#background {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    overflow-x: hidden;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

a {
    text-decoration: none;
}

.linkBtn {
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 680px;
    height: 60px;
    margin: 0 2px 16px 2px;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.linkBtn:hover {
    transform: scale(1.05);
    background: #fff;
    color: black;
}

.linkBtn:hover i {
    transform: rotateY(180deg);
    transition: transform 0.4s ease-in-out;
}

.thumbnail {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 32px;
    font-size: 28px;
}