td.thead1 {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    color: #fff;
    background-color: #00a191;
    border-radius: 9px 9px 0 0;
}

td.thead2 {
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    color: #fff;
    background-color: #28C56D;
}

td.thead3 {
    font-size: 16px;
    background-color: #00a191;
    border-radius: 0 0 9px 9px;
}

th.key,
td.key {
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: table-cell;
    font-weight: bolder;
    vertical-align: middle;
    background-color: peru;
}

th.key {
    border-bottom: solid #fff 1px;
}

td.value {
    background-color: #51d4e6;
    border-bottom: solid #fff 1px;
    border-left: solid #fff 1px;
}