.google-searchbar {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
    transition: box-shadow 200ms cubic-bezier(.4, 0, .2, 1);
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
    font-size: 16px;
    font-family: arial, "Roboto Light", "Noto", sans-serif;
    font-weight: 400;
    font-feature-settings: initial;
    color: #000;
    margin: 16px 0;
    cursor: text;
    text-align: left;
    max-width: 512px;
    width: 100%;
    display: inline-block;
}

.google-searchbar .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    font-size: 24px;
    color: #4285f4;
    height: 100%;
}

.google-definition {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
    font-family: arial, sans-serif;
    font-feature-settings: initial;
    background: #fff;
    padding: 16px;
    margin: 16px 0;
    color: #222;
    border-radius: 2px;
    text-align: left;
    max-width: 512px;
    width: 100%;
    display: inline-block;
}

.google-definition h1,
.google-definition h3 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}

.google-definition h3 {
    font-size: 16px;
}

#search-by-voice {
    margin-bottom: 3px;
    cursor: pointer;
    height: 24px;
}

#search-button {
    vertical-align: middle;
    cursor: pointer;
    height: 24px;
}