.wrapper {
    margin-top: 55px;
    overflow: hidden;
    min-height: 100vh;
}

.cover {
    width: 100%;
    height: 350px;
    position: relative;
    background: var(--primary);

    &__blur {
        background-image: url(/assets/images/banner.png);
        background-repeat: no-repeat;
        background-position: top;
        filter: blur(100px);
        width: 100%;
        height: 100%;
        position: absolute;
        top: -65%;
    }

    &__img {
        width: 940px;
        height: 350px;
        object-fit: cover;
        object-position: top;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

.info {
    height: 150px;
    box-shadow: 0px 3px 3px -3px #ccc;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    background: var(--primary);

    > div {
        width: 940px;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        gap: 20px;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: flex-end;
        gap: 20px;
        margin-left: 35px;

        .avatar {
            width: 175px;
            height: 175px;
            border-radius: 50%;
            overflow: hidden;
            z-index: 1;
            border: 5px solid var(--primary);
            margin-bottom: 5px;
            cursor: pointer;

            > img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .name {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 80px;
            color: var(--primary-text);
        }
    }

    &__right {
        display: flex;
        gap: 10px;
        margin-right: 35px;

        > a {
            display: flex;
            align-items: baseline;
            gap: 5px;
        }

        .contact {
            border-radius: 5px;
            background: var(--body-contact-bg);
            color: var(--primary-text);
            padding: 5px 10px;
            height: 35px;
            margin-left: 20px;
            font-weight: 600;

            &:hover {
                background: var(--body-contact-bg-hover);
            }
        }

        .message {
            border-radius: 5px;
            background: var(--body-message-bg);
            color: var(--body-message-color);
            padding: 5px 10px;
            height: 35px;
            font-weight: 600;

            &:hover {
                background: var(--body-message-bg-hover);
            }
        }
    }
}
