body.dark {
    background: #18191a;
}

body.dark header {
    box-shadow: 0px 3px 3px -3px #ccc;
    background: #242526;
}

.header__redirect {
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.dark .header__btn,
body.dark .header__mode {
    color: #b8bbbf;
}

.header__btn:hover {
    background: rgba(255, 255, 255, .1);
}

body.dark .cover,
body.dark .info {
    background: #242526;
}

body.dark .avatar {
    border-color: #242526;
}

body.dark .name {
    color: #e4e6eb;
}

body.dark .contact {
    background: #3a3b3c;
    color: #e4e6ea;
}

body.dark .contact:hover {
    background: #4e4f50;
}

body.dark .message {
    background: #1a6ed8;
    color: #fff;
}

body.dark .message:hover {
    background: #1B74E4;
}